@import url('https://fonts.googleapis.com/css?family=Karla|Rubik:500');

/* -------------- VARIABLES */
:root {

--font-heading: "Rubik", sans-serif;

--font-default: "Karla", sans-serif;



--color-almost-white: #e8eef4;

--color-almost-white-rgb: 232, 238, 244;



--color-primary-a: #63dbc1;

--color-primary-b: #4952a3;

--color-primary-c: #ff5b5e;



--color-secondary-a: #53c1a9;

--color-secondary-b: #28313b;

--color-secondary-c: #97a4b1;

--color-secondary-d: #319bf5;

--color-secondary-e: #34495e;



--main-text-color: var(--color-secondary-e);

--heading-text-color: var(--color-secondary-b);

--alternative-text-color: var(--color-almost-white);

--error-color: var(--color-primary-c);

--main-bg-color: var(--color-almost-white);

--secondary-bg-color: var(--color-almost-white);

--alternative-bg-color: var(--color-primary-b);

/* measurements */

--padder: 3%;

--spacer: 20px;

--spacer-large: 80px;

--transition-time: 0.3s;



/* font sizes */

--font-size-site-title: 32px;

--font-size-page-title: 40px;

--font-size-section-title: 30px;

--font-size-sub-title: 24px;

--font-size-heading-small: 16px;

--area-wide: 1200px;


}

@media screen and (min-width: 800px) {
    :root {
        --font-size-site-title: 54px;
        --font-size-page-title: 80px;
        --font-size-section-title: 48px;

        --padder: 2%;

    }
}


/* -------------- GLOBAL DEFAULTS */
* {box-sizing: border-box;
}

img,
video {
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--font-default);
    line-height: 1.4;
    color: var(--main-text-color);
    font-size: 18px;
}

/* -------------- HEADINGS AND TYPE */
h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
    color: var(--heading-text-color);
    font-weight: normal;
}

h1 {
    font-size: var(--font-size-page-title);
}

h2 {
    font-size: var(--font-size-section-title)
}

h3 {
    font-size: var(--font-size-sub-title)
}
/* links*/
a {
   color: var(--color-primary-c);
}
a:hover,
a:visited {
    color: var(--color-secondary-b)
}
/* -------------- LAYOUT */
.layout-wide, .layout-full-width {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--spacer-large);
    padding: 0 var(--padder);

}
.layout-full-width {
    max-width: 2000px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.layout-wide {
    max-width: 1200px;
}

/* -------------- HEADER */
header {
    background-color: var(--alternative-bg-color);
    padding-top: var(--padder);
   }

header .layout-wide {
    overflow: hidden;
    margin-bottom: 0;

}

.logo-wrapper {
    width: 20%;
    float: left;
}
.logo {
    max-width: 50px;   
}
.site-title {
    font-family: var(--font-heading);
    color: var(--alternative-text-color);
    width: 80%;
    float: right;
    text-align: right;
    font-size: var(--font-size-site-title);
}

/* -------------- NAVIGATION */
.navigation {
    background-color: var(--alternative-bg-color);
}
.nav-prompt {
    width: 100%;
    padding: var(--padder) 0;
    color: white;
    background-color: var(--alternative-bg-color);
    border: none;
    border-top: 1px solid #34495e;
}
.nav-inner {
    overflow: hidden;
    clear: both;
    margin-bottom: 0;
    transition: var(--transition-time);

}
.nav-inner ul {
    padding: 0 var(--padder);
    margin: 0;
    list-style: none;
}

.nav-inner li {
    text-align: center;

}
.nav-inner a {
    color: var(--alternative-text-color);
    padding: 20px 5px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid var(--color-secondary-c);
    font-family: var(--heading-font);
}

.nav-inner[aria-expanded="false"] {
    max-height: 0;
}
.nav-inner[aria-expanded="true"] {
    max-height: 100vh
}

@media screen and (min-width: 800px) {
    .navigation {
        padding: 20px 0;
    }
    .nav-prompt {
        display: none;
    }
    .nav-inner {
        margin-bottom: 0;
    }
    .nav-inner[aria-expanded="false"] {
        max-height: 100vh;
    }
    .nav-inner a {
        border-bottom: 2px solid transparent;
        padding: 0;
    }
    .nav-inner a.active {
        border-bottom-color: var(--color-almost-white);
    }
    .nav-inner ul {
        display: flex;
        justify-content: space-between;
    }
    
}


/* -------------- FOOTER */
footer {
background-color: var(--alternative-bg-color);
}
.footer-subscribe {
    background-color: var(--secondary-bg-color);
    padding-top: var(--spacer-large);
    padding-bottom: var(--spacer-large);
    text-align: center;
}
.footer-notices {
    padding-top: var(--spacer-large);
    padding-bottom: var(--spacer-large);
}
.footer-notices .layout-wide {
    text-align: center;
}
.copyright {
    color: #ffff;
}
/* social icons*/
.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-links li {
    display: inline-block;
    margin-left: 5x;
    margin-right: 5px;
}
.social-links img {
    width: 100%;
    height: 100%;
}
.social-links a {
    max-width: 30px;
    display: block;
    transform: scale(0.8);
    transition: all var(--transition-time)
}
.social-links a:hover {
    transform: scale(1);
}
/* subscribe forms*/
label {
    display: block;
    font-weight: bold;
}
input[type=text],
input[type=email] {
    border: 1px solid var(--color-secondary-c);
    border-radius: 4px;
    padding: 10px;
    width: 480px;
    max-width: 100%;
    margin-bottom: var(--spacer);
}
input[type=submit] {
    border: none;
    font-family: var(--font-heading);
    background-color: var(--color-primary-a);
    text-transform: uppercase;
    padding: 20px;
    border-radius: 30px;
    min-width: 208px;
}
input[type=submit]:hover {
    background-color: var(--color-secondary-a)
}

@media screen and (min-width: 800px) {
    .footer-notices .layout-wide {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }
    .social-links {
        text-align: right;
    }
}
/* -------------- FORMS */


/* -------------- MODULES */

.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;

}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
/* hero modules */
@media screen and (min-width: 800px) {
    
    .hero-module {
        position: relative;
    }

    .hero-module img {
        width: 100%
    }

    .hero-content {
    text-align: center;
    align-items: center;
    display: flex;

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    }

    .hero-content h1 {
        color: white;
        text-shadow: 0px 1px 10px var(--color-secondary-b);
    }
}
/* image gallery */

.image-gallery ul {
    list-style: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    margin: 0;
    padding: 0;
    overflow: hidden;

}
.image-gallery li {
    float: left;
    max-width: 250px;
    margin: 10px;
}
.image-gallery a img {
    box-shadow: 0 1px 10px var(--color-secondary-b);
    filter: grayscale(50%);
    transition: var(--transition-time);
}
.image-gallery a:hover img {
    transform: scale(1.05);
    filter: unset;
}
@supports (display: grid) {
    .image-gallery ul {
        overflow: auto;

    }
    .image-gallery li {
        float: none;
        max-width: 100%;
        margin: 0;
    }

}
/* content grid */

@media screen and (min-width: 800px) {
    .content-area-grid {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }
}
/* this is a comment */