/* -------------- VARIABLES */
:root {

--font-heading: "Rubik", sans-serif;

--font-default: "Karla", sans-serif;



--color-almost-white: #e8eef4;

--color-almost-white-rgb: 232, 238, 244;



--color-primary-a: #63dbc1;

--color-primary-b: #4952a3;

--color-primary-c: #ff5b5e;



--color-secondary-a: #53c1a9;

--color-secondary-b: #28313b;

--color-secondary-c: #97a4b1;

--color-secondary-d: #319bf5;

--color-secondary-e: #34495e;



--main-text-color: var(--color-secondary-e);

--heading-text-color: var(--color-secondary-b);

--alternative-text-color: var(--color-almost-white);

--error-color: var(--color-primary-c);

--main-bg-color: var(--color-almost-white);

--secondary-bg-color: var(--color-almost-white);

--alternative-bg-color: var(--color-primary-b);

/* measurements */

--padder: 3%;

--spacer: 20px;

--spacer-large: 80px;

--transition-time: 0.3s;



/* font sizes */

--font-size-site-title: 32px;

--font-size-page-title: 40px;

--font-size-section-title: 30px;

--font-size-sub-title: 24px;

--font-size-heading-small: 16px;

--area-wide: 1200px;


}


/* -------------- GLOBAL DEFAULTS */
* {box-sizing: border-box;
}

img,
video {
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--font-default);
    line-height: 1.4;
    color: var(--main-text-color);
    font-size: 18px;
}

/* -------------- HEADINGS AND TYPE */


/* -------------- LAYOUT */
.layout-wide, .layout-full-width {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--spacer-large);
    padding: 0 var(--padder);

}
.layout-full-width {
    max-width: 2000px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.layout-wide {
    max-width: 1200px;
}

/* -------------- HEADER */
header {
    background-color: var(--alternative-bg-color);
    padding-top: var(--padder);
   }

header .layout-wide {
    overflow: hidden;
    margin-bottom: 0;

}

.logo-wrapper {
    width: 20%;
    float: left;
}
.logo {
    max-width: 50px;   
}
.site-title {
    font-family: var(--font-heading);
    color: var(--alternative-text-color);
    width: 80%;
    float: right;
    text-align: right;
    font-size: var(--font-size-site-title);
}

/* -------------- NAVIGATION */


/* -------------- FOOTER */
footer {
background-color: var(--alternative-bg-color);
}

/* -------------- FORMS */


/* -------------- MODULES */

.iframe-container {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;

}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



/* this is a comment */